{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome JS Script -->
    <script src="https://kit.fontawesome.com/8f8a8c35a9.js" crossorigin="anonymous"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>
<body class="dark">

<nav class="navbar navbar-expand-lg pb-2 mb-2">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'manage-profile' %}">Student Profiles <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'tests' %}">Tests <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'categories' %}">Categories <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="ml-auto">
            <button class="theme-icon" onclick="handleThemeChange();">
                <i id="faThemeIcon" class="fas fa-moon"></i>
            </button>
        </div>
    </div>
</nav>

<div class="messages">
    {% if messages %}

        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% else %} class="alert alert-primary" {% endif %}>
            {{ message }}
        </p>
        {% endfor %}

    {% endif %}
</div>

<div class="container">
    {% block content %}
    
    {% endblock content %}
</div>

            <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    const faThemeIcon = document.getElementById("faThemeIcon");
    const body = document.querySelector("body");
    console.log("Changing theme.");
    const theme = localStorage.getItem("theme");
    if (theme === "light") {
        faThemeIcon.classList.remove("fa-moon");
        faThemeIcon.classList.add("fa-sun");
        body.classList.remove('dark');
    } else {
        faThemeIcon.classList.remove("fa-sun");
        faThemeIcon.classList.add("fa-moon");
        body.classList.add('dark');
    }

    const handleThemeChange = () => {
        if (faThemeIcon.classList.contains("fa-moon")) {
            faThemeIcon.classList.remove("fa-moon");
            faThemeIcon.classList.add("fa-sun");
            localStorage.setItem("theme", "light");
        }
        else {
            faThemeIcon.classList.remove("fa-sun");
            faThemeIcon.classList.add("fa-moon");
            localStorage.setItem("theme", "dark");
        }
        body.classList.toggle('dark');

    }
</script>

</body>
</html>