{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load tags %}

{% block content %}
<h1>Tests</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#createTestModal">
    Create New Test
</button>
  
<!-- Modal -->
<div class="modal fade" id="createTestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="" method="post">

        <div class="modal-body">
            <p class="text-muted">You will be able to add questions later.</p>
                {%csrf_token%}
                {{form|crispy}}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            <a href="{% url 'create-test' %}">
                <button type="submit" class="btn btn-primary">Create</button>
            </a>
        </div>
    </form>


    </div>
</div>
</div>

<table id="testsTable" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Questions</th>
            <th scope="col">Configure</th>
            <th scope="col">Order</th>
        </tr>
    </thead>

    <tbody>
        {% for test in tests %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>
                    <a href="{% url 'test' test.id %}">
                        {{test.test_name}} ({{ test.test_order }})
                    </a>
                </td>
                <td>{%filter_questions_per_test questions test.id%}</td>
                <td>
                    
                    <!-- Update Button trigger modal -->
                    <button title="Update Test" type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateTestModal{{forloop.counter}}">
                        <i class="fas fa-pen-alt"></i>
                    </button>

                    <!-- Update Modal -->
                    <div class="modal fade" id="updateTestModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="updateTestModal{{forloop.counter}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update Test</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <!-- <span class="font-weight-bold">{{test.test_name}}</span> -->
                                    
                                    <form role="form" action="{% url 'update-test' test.id %}" method="post">
                                        <fieldset class="form-group">
                                            {%csrf_token%}
                                            {{u_form|crispy}}
                                        </fieldset>
                                    
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                    <a href="{% url 'update-test' test.id %}">
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </a>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Delete Button trigger modal -->
                    <button title="Delete Test" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteTestModal{{forloop.counter}}">
                        <i class="fas fa-trash-alt"></i>
                    </button>

                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteTestModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="deleteTestModal{{forloop.counter}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>Are you sure you want to delete this test?</p> <br>
                                    <span class="font-weight-bold">{{test.test_name}}</span>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                    <a href="{% url 'delete-test' test.id %}">
                                        <button type="button" class="btn btn-primary">Yes, Delete it!</button>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {% if test.test_order != 0 %}
                        <a href="{% url 'test-move-up' test.id %}">
                            <button title="Move Up" class="btn btn-success move up"><i class="fas fa-sort-amount-up-alt"></i></button>
                        </a>
                    {% endif %}
                    {% if test.test_order != last_test %}
                        <a href="{% url 'test-move-down' test.id %}">
                            <button title="Move Down" class="btn btn-info move down"><i class="fas fa-sort-amount-down-alt"></i></button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}